[submodule ".ssh"]
	path = .ssh
	url = ssh://git@ts1079pro:10022/TakashiSasaki/DotSsh.git
[submodule ".vim"]
	path = .vim
	url = git@github.com:TakashiSasaki/dotVim.git
[submodule "hosts"]
	path = hosts
	url = ssh://git@ts1079pro:10022/TakashiSasaki/hosts.git
[submodule "git-sqlite"]
	path = git-sqlite
	url = git@github.com:TakashiSasaki/git-sqlite.git
[submodule "TopicModelIwata"]
	path = TopicModelIwata
	url = ssh://git@ts1079pro:10022/TakashiSasaki/TopicModelIwata.git
[submodule "dpt-rp1-py"]
	path = dpt-rp1-py
	url = https://github.com/janten/dpt-rp1-py.git
[submodule "Hosts"]
	path = Hosts
	url = ssh://git@ts1079pro:10022/TakashiSasaki/Hosts.git
[submodule "argv2json"]
	path = arg2json
	url = ssh://git@ts1079pro:10022/TakashiSasaki/arg2json.git
[submodule "PrivateScripts"]
	path = PrivateScripts
	url = ./PrivateScripts
[submodule "PublicScripts"]
	path = PublicScripts
	url = ssh://git@ts1079pro:10022/TakashiSasaki/PublicScripts.git
[submodule "CacheClipboard"]
	path = CacheClipboard
	url = git@github.com:TakashiSasaki/CacheClipboard.git
