[submodule ".ssh"]
	path = .ssh
	url = ssh://git@ts1079pro:10022/TakashiSasaki/DotSsh.git
	branch = stretch
[submodule ".vim"]
	path = .vim
	url = https://github.com/TakashiSasaki/dotVim.git
	branch = stretch
[submodule "hosts"]
	path = hosts
	url = ssh://git@ts1079pro:10022/TakashiSasaki/hosts.git
